*, *:before, *:after {
	padding: 0;
	margin: 0;
	font-family: "Gilroy";
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	cursor: default;
}

body {
    background-color: #ffffff;
	color: #070707;
}

h2 {
	font-weight: bold;
	font-size: 34px;
	line-height: 42px;
}

h3 {
    font-weight: bold;
    font-size: 25px;
}

p, a {
	font-size: 18px;
	line-height: 22px;
}

/*  header  */

header {
	position: fixed;
	top:0%;
	height: 88px;
	width: 100%;
	z-index: 99;
    background: rgba(255, 255, 255, 0.75);
}

hr {
    color: #0000cc;
    height: 1px;
    background-color: #0000cc;
    border: none;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

ul a {
    font-weight: bold;
    cursor: pointer;
    color: #070707;
}

.scroll-up {
    display: none;
    position: fixed;
    background: url(img/scrollUp.svg) center no-repeat;
    width: 50px;
    height: 50px;
    z-index: 222;
    right: 60px;
    bottom: 60px;
}

/* Home */
#Home {
    text-align: center;
    padding: 140px 0 75px;
}

#Home .slider {
    padding-top: 60px;
}

/* About */

#About {
    padding: 97px 0 75px;
}

.about {
    display: flex;
	justify-content: space-between;
	flex-direction: row;
	text-align: start;
    align-items: center;
}

.about h2 {
    padding-bottom: 63px;
}

.about-text {
    max-width: 400px;
}

.about img {
    max-width: 500px;
    padding-top: 35px;
}

/* Benefits */

#Benefits {
    padding: 110px 0 75px;
    text-align: center;
}

#Benefits h2 {
    padding-bottom: 60px;
}

#Benefits h3 {
    padding: 25px 0 50px;
}

#Benefits .items {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 2300px;
    padding: 106px 0 75px;
}

#Benefits .items .first-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 90px 0 106px;
}

#Benefits .items .second-block{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 106px 0 90px;
}

#Benefits .item {
    text-align: start;
    max-width: 320px;

    background: rgba(196, 196, 196, 0.25);
    border: 2px solid #0000cc;
}

#Benefits .first-block .item {
    column-gap: 220px;
}

#Benefits .second-block .item {
    column-gap: 280px;
}

#Benefits .item h3 {
    line-height: 135%;
    padding: 18px 0 0 15px;
    max-width: 180px;
}

#Benefits .item p {
    padding: 44px 0 46px 15px;
}



.wrapper {
    height: 100%;
    margin: auto;
    width: 990px;
  }