.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{
	cursor: pointer;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	cursor: pointer;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{
		cursor: pointer;
}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 5px 60px;
	border: none;
}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
    border: 0px;
}
.slider .slick-arrow.slick-prev{
	left: 10%;
	background: url("../img/prev.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 10%;
	background: url("../img/next.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: transparent;
	border: 1px solid #9400D3;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background: #9400D3;
}
.slider__item {
	padding: 0px 15px;
	text-align: center;
}
.slider__item img{
	max-width: 75%;
	cursor: pointer;
}